ZEPHYR_FENTON_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/fenton
ZEPHYR_EGFX_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/egfx
ZEPHYR_E_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/e
ZEPHYR_CMSIS_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/hal/cmsis
ZEPHYR_CMSIS_6_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/hal/cmsis_6
ZEPHYR_HAL_ESPRESSIF_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/hal/espressif
ZEPHYR_HAL_NXP_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/hal/nxp
ZEPHYR_LIBMETAL_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/hal/libmetal
ZEPHYR_MBEDTLS_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/crypto/mbedtls
ZEPHYR_OPEN_AMP_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/lib/open-amp
ZEPHYR_SEGGER_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/debug/segger
ZEPHYR_ZCBOR_MODULE_DIR=C:/ELI/prj/voltvision/fenton-fum/fum-powerdoor-fw-west/modules/lib/zcbor
